* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calibri,sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: black;
}

header {
    border: none;
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-size: contain;
    background-position: 0 100%;
    align-items: center;
    position: fixed;
}

header img {
    object-fit: scale-down;
    height: 100vh;
}

.open-video {
    position: fixed;
    left: 775px;
    top: 222px;
    border-radius: 6% / 30%;
    width: 235px;
    height: 174px;
    filter: sepia(0.7);
    box-shadow: 0 0 15px black;
}

.open-video:focus {
    border: 2px solid burlywood
}

.open-video img {
    object-fit: scale-down;
}

.block {
    border: none;
    margin: auto;
}

.block svg {
    height: 400px;
    position: fixed;
    /* margin: auto; */
    z-index: 0;
    align-self: center;
    justify-self: center;
}

h1 {
    color: whitesmoke;
    margin: 3rem;
    text-shadow: 2px 2px 2px rgba(143, 30, 102, 0.652);
}

.summon-modal {
    border: none;
    background: green;
    margin: auto;
    cursor: pointer;
    height: 100px;
    z-index: 2;
    color: mediumvioletred;
    position: absolute;    
    display: flex;
    align-self: center;
    justify-self: center;
}

.summon-modal:active {
    filter: blur(100);
}

.overlay-modal {
    border: none;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    cursor: pointer;
    z-index: -1;
    opacity: 0;
    transition: ease-in-out 0.3s;
}

.modal {
    position: fixed;
    left: 775px;
    top: 222px;
    border-radius: 6% / 30%;
    width: 235px;
    height: 174px;
    filter: sepia(0.7);
    box-shadow: 0 0 15px black;
}

.modal video {
    position: fixed;
    left: 775px;
    top: 222px;
    border-radius: 6% / 30%;
    filter: sepia(0.7);
    box-shadow: 0 0 15px black;
    border: 2px solid white;
}

p {
    font-size: 9rem;
    color: whitesmoke;
}

h3 {
    color: whitesmoke;
    text-shadow: 2px 2px 1px rgb(0, 0, 0);
}

